endpoint: "http://localhost:9292"
redis_host: "localhost"
redis_port: 6379
redis_auth: "YOUR_PASS"
client_retry_count: 10
worker_retry_count: 10
callback_retry_count: 5
api_key: "YOUR_TOKEN"
store_job_data: true
use_basic_auth: false
basic_auth_username: "admin"
basic_auth_password: "something"
